div
  div
    div
  div
    nav.app-bar.fixed-bottom(style='padding:10px;')
      .container
        nav.app-bar-content
          span.element © tri setianto
            span= y
            |  fakultas mulawarman